rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to push their email to the waitlist collection
    match /waitlist/{document=**} {
      allow create: if request.resource.data.email != null;
      allow update: if request.resource.data.paymentStatus == 'paid';
      allow read, delete: if false;
    }
  }
}
